
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 100vh;
}


/*
    header of the webpage
*/
.bodyHeader
{
    padding: 20px;
    text-align: center;
    background-color: bisque;
}
h1
{
    font-size: 2.8em;
}
/*
    content of the webpage - class: content
*/
    /*
        header of the content - class: contentHeader
    */

    .content
    {
        width: auto;

        display: flex;
        flex-direction: column;
        align-items: space-between;
        margin: 10px 0 20px;
    }

    .contentHeader
    {
        align-self: center;
    }

    .buttonMain
    {
        
        padding: 0 10px;
        font-size: 1.5em;
    }

    .buttonStart
    {

        padding: 5px 15px;
        text-align: center;
        font-size: 2em;
    }

    .contentGame
    {
        width: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .player
    {
        width: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .playerTitle
    {
        font-weight: 900;
        font-size: 20px;
    }

    .playerWins
    {
        font-family: 1.4em;
    }
    .move
    {
        width: 196px;
        height:196px;
    }

    .moveButtons
    {
        width: 260px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 30px;
    }

    .moveButtons > button
    {
        width: 100px;
        padding: 5px 0;
        font-size: 1.3em;
    }
    /*
        body of the content - class: contentGame 
    */

    .gameAlert
    {
        margin: 10px auto 0;
        font-size: 1.8em;
    }

/*
    footer of the webpage
*/

.footer
{
    margin-top: auto;
}
.contactIcons
{

    padding: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    gap: 20px;

}
a
{
    width: 32px;
    height: 32px;
}



/*
fazer

-escolher cores corretas

- estilizar botao start
- estilizar text qnts venceu
- colocar imagens das maos
-

- icons link
*/